body {margin:2rem;}

.form-rounded {
	margin-top: 10px;
	margin-bottom: 10px;
border-radius: 1rem;
}

.user-profile {
  border-radius: 50%;
  max-width: 9%;
  margin-left: 10px;
}
.btn-group-lg>.btn, .btn-lg {
	margin-bottom: 12px;
	}
